@font-face {
    font-family: "kid";
    src: url("../fonte/WalterTurncoat-Regular.ttf");
}
.kid{
    font-family: "kid"
}
.orange{
    background-color: #ffaa2d;
}
.font-light{
    color: #fff;
}
.size-ps-1{
    font-size:4rem;
}
.back-red{
    background-color:#dc3444;
}
.neutralBolinho{
    height:5.1881rem;/* 75px o valor da altura do golfinho */
}

.hover{
    background-color: #ffaa2d
}